:root {
  --white: #ffffff;
  --text: #191818;
  --highlight: #FDE4D7;
  --hover: #F9F7F1;
  --gray: #213547; 

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

#main {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (prefers-reduced-motion) {
  .select-dropdown {
    transition: none;
  } 
}

